/*
 * main.css
 */

/* -- Layout */
.app, body, html {
    background: black;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-main {
    flex: 1 1;
}

/* -- Navigation */
.nav-titlebar {
    flex: 0 0;

    background: #00AAAA;
    color: white;

    padding: 1px 15px;
}

.nav-title {
    float: left;
}

.nav-version {
    float: right;
}

.nav-footer {
    flex: 0 0;
    background: #555555;
    color: white;
    padding: 1px 15px;
}

.nav-copyright {
    float: left;
}

.nav-license {
    float: right;
    color: #aaaaaa;
}

/* Sidebar navigation */
.app-main {
  display: flex;
  flex-direction: row;
}

.app-left {
  flex: 0;
  flex-basis: 250px;
  
  display: flex;
}

.app-content {
  flex: 1 1;
}


.nav-sidebar {
  background: #0000aa;
  width: 100%;
  padding: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.sidebar-tabs {
  border: 1px solid white; 
  flex: 1;

  padding: 10px;
}

.sidebar-tabs .btn {
  width: 100%;
  margin-bottom: 20px;
}

/* -- Main // Pages */
.page {
  margin: 7px;
}



