/*
 * main.css
 */

/* -- Layout */
.app, body, html {
    background: black;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-main {
    flex: 1 1;
}

/* -- Navigation */
.nav-titlebar {
    flex: 0 0;

    background: #00AAAA;
    color: white;

    padding: 1px 15px;
}

.nav-title {
    float: left;
}

.nav-version {
    float: right;
}

.nav-footer {
    flex: 0 0;
    background: #555555;
    color: white;
    padding: 1px 15px;
}

.nav-copyright {
    float: left;
}

.nav-license {
    float: right;
    color: #aaaaaa;
}

/* Sidebar navigation */
.app-main {
  display: flex;
  flex-direction: row;
}

.app-left {
  flex: 0;
  flex-basis: 250px;
  
  display: flex;
}

.app-content {
  flex: 1 1;
}


.nav-sidebar {
  background: #0000aa;
  width: 100%;
  padding: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.sidebar-tabs {
  border: 1px solid white; 
  flex: 1;

  padding: 10px;
}

.sidebar-tabs .btn {
  width: 100%;
  margin-bottom: 20px;
}

/* -- Main // Pages */
.page {
  margin: 1px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid .panel {
  flex: 1;
  flex-basis: calc(100% * 0.5 - 20px - 1px);
}

.panel {
  position: relative;
  background: #0000aa;
  color: #aaaaaa;
  padding: 10px;
  margin: 10px;
}

.panel-grey {
  background: #555555;
  color: #aaaaaa;
}

.panel .panel-content {
  border: 1px solid white; 
  padding: 10px;
}

.panel .panel-title-container {
  color: white;
  position: absolute;
  top: 2px;
  width: 100%;
  text-align: center;
}

.panel .panel-title {
  background: #0000aa;
  padding: 0px 4px;
}


/* -- Slider */
.slider.slider-v {
    width: 60px;
    height: 250px;

}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.light-ctrl {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.light-title,
.light-value {
  flex: 0;
  padding: 10px;
}

.light-title {
  color: #ffffff;
}

.panel-input-sources {
  padding: 20px;
}

.panel-input-sources button {
  display: block;
  width: 100%;

  margin-bottom: 20px;
}


.volume-ctrl {
    text-align: center;
}

.volume-input .slider {
    margin-left: auto;
    margin-right: auto;
}

.box-ctrl button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: block;
}

 
